<ng-template #exampleTpl let-config>
  <pre>
    {{ config | json }}
  </pre>
  <section>
    <div class="row">
      <div class="flex-8">
        <loading-headline size="m"> </loading-headline>
        <loading-list count="8" size="l"> </loading-list>
      </div>
      <div class="flex-4">
        <div class="row" style="justify-content: center; align-items: center;">
          <div flex="4">
            <loading-image [theme]="config.theme" [mode]="config.mode">
            </loading-image>
          </div>
          <div flex="8" style="width: 100%;">
            <loading-text [theme]="config.theme" [mode]="config.mode" size="m">
            </loading-text>
            <loading-text [theme]="config.theme" [mode]="config.mode" size="s">
            </loading-text>
            <loading-text [theme]="config.theme" [mode]="config.mode" size="s">
            </loading-text>
          </div>
        </div>

        <loading-text [theme]="config.theme" [mode]="config.mode" size="l">
        </loading-text>
        <loading-text [theme]="config.theme" [mode]="config.mode" size="l">
        </loading-text>
        <loading-text
          [theme]="config.theme"
          [mode]="config.mode"
          size="s"
        ></loading-text>
        <loading-textarea
          [theme]="config.theme"
          [mode]="config.mode"
          style="position: relative; top: 20px;"
        ></loading-textarea>
      </div>
    </div>
    <div class="row">
      <loading-button></loading-button>
      <loading-button></loading-button>
    </div>
  </section>
</ng-template>

<p>
  <button (click)="toggleDark()">Toggle Dark: global: {{ isDark }}</button>
  <button (click)="cmpToggleMode()">
    Toggle Dark: component: {{ themeMode }}
  </button>
</p>

<h2>
  Showing Custom Placeholder: Using ng-template
</h2>

<loading-skeleton
  [theme]="theme"
  [mode]="themeMode"
  [outlet]="exampleTpl"
  ariaLabel="Loading the page... please wait"
></loading-skeleton>

<hr />

<h2>Available components</h2>

<loading-text size="s">
  loading-text size="s|small"
</loading-text>
<loading-text size="m">
  loading-text size="m|medium"
</loading-text>
<loading-text size="l">
  loading-text size="l|large"
</loading-text>
<loading-text size="f">
  loading-text size="f|full"
</loading-text>
<p>
  loading-list count="3" size="m"
</p>
<loading-list count="3" size="m"></loading-list>
<loading-image>loading-image</loading-image>
<loading-textarea>
  loading-textarea
</loading-textarea>
<loading-button>
  loading-button
</loading-button>

<hr />

<h2>Customzie your own loading placeholder</h2>
<loading-placeholder>loading-placeholder</loading-placeholder>
<p>
  <strong
    >You can provide any css style to styling loading-placeholder
    component</strong
  >
</p>
<loading-placeholder
  style="width: 400px; height: 200px; border-radius: 0 0 30px 30px;"
  >loading-placeholder style="width: 400px; height: 200px; border-radius: 0 0
  30px 30px;"</loading-placeholder
>
