.listItem {
  padding: 12px;
  margin: 5px;
  border: 1px solid black;
}

p {
  max-width: 42em;
  font-size: 1.35rem;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
